matplotlib==3.5.2
numpy==1.22.3
pandas==1.4.4
pytz==2022.1
scikit_learn==1.1.1
tensorboardX==2.5
tensorboardX==2.6
torch==1.11.0
torch_geometric==2.1.0
torch_scatter==2.0.9
torchdiffeq==0.2.3
tqdm==4.64.0
transformers==4.22.2
